
.DS_Store
node_modules/
coverage/
screenshots/*
docs/

data/
coverage/
sessions/
screenshots/
__image_snapshots_/
__diff_output__/
trace/
.node-persist/

*.db
*snap.png
*diff.png
*trace.json
*.0x

*.pptx
*.mp4

*.codio
*.c9
