
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Contacts Page</title>
		<meta name="author" content="Wiktor Majkowski">
		<link href="defaultStyle.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<nav id = "navigation">
			<table>
				<tr> 
					<td id="logo"> L</td>
					<td id="button"><a href="/"> Home </a></td>
				 	<td id="button"><a href="/staff"> Staff </a></td>
					<td id="button"><a href="/contacts"> Contacts </a></td>
					<td id="button"><a href="/issues"> Issues </a></td>
                    {{#if user}}
                        <a id="lr" href="/logout">Log out |</a>
                    {{else}}   
					    <a id="lr" href="/register">| Register</a> 
					    <a id="lr" href="/login">Login |</a>
					{{/if}}
				</tr>
			</table>
		</nav>	
		<h1>Contacts</h1>
		<article>
			<p>Our staff are commited to working closely with the community in order to improve Coventry's quality of life.<br>
			If you need any additional help or information don't hesitate to talk to our team.<br>
			</p>
			<p>Afonso Ginjeira - gingeira@uni.coventry.ac.uk <br><br>
			Adam Gill - gilla34@uni.coventry.ac.uk <br><br>
			Samuel Livingstone - living11@uni.coventry.ac.uk <br><br>
			Dawid Sobierajski - sobierad@uni.coventry.ac.uk <br><br>
			Wiktor Majkowski - majkowsw@uni.coventry.ac.uk <br><br>
			Mariana Leão - leaom2@uni.coventry.ac.uk <br><br>
			Fred Cook - cookf2@uni.coventry.ac.uk
			</p>
			
		</article>
</html>