
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<meta name="author" content="Wiktor Majkowski">
		<link href="defaultStyle.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<nav id = "navigation">
			<table>
				<tr> 
					<td id="logo"> L</td>
					<td id="button"><a href="/"> Home </a></td>
				 	<td id="button"><a href="/staff"> Staff </a></td>
					<td id="button"><a href="/contacts"> Contacts </a></td>
					<td id="button"><a href="/issues"> Issues </a></td>
					{{#if user}}
                        <a id="lr" href="/logout">Log out |</a>
					{{else}}
                    	<a id="lr" href="/register">| Register</a> 
					    <a id="lr" href="/login">Login |</a>
                    {{/if}}
				</tr>
			</table>
		</nav>	
		<br>
		<article>
			<h1 style = "color: #3B96FF">Home</h1><h2 style = "color: #FFA74B"> Community</h2>
			<p>Our purpose is to help and raise issues within Coventry by allowing the local council to engage with residents of this community.
			<br>If you have any issues, you can let us know by submiting them in the <a style ="color:#FFA74B" href="/issues">issues</a> page.</p>
		</article>
</html>
