
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="style.css" type="text/css" rel="stylesheet" />
		<link href="defaultStyle.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<nav id = "navigation">
			<table>
				<tr> 
					<td id="logo"> L</td>
					<td> Home </td>
				 	<td> Staff </td>
					<td> Contacts </td>
					<a id="lr"> Login | Register </a>
				</tr>
			</table>
		</nav>	
		<h1>Home</h1>
		<article>
			<p>something</p>
			<p>This is a secure page. Users need to have a valid account and be logged in to see it.</p>

		</article>
		<footer>
			<p><a href="/logout">log out</a></p>
		</footer>
</html>
