<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Issues</title>
		<meta name="author" content="Fred Cook">
		<link href="style.css" type="text/css" rel="stylesheet" />
        <link href="issues.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
        <h1> Issues </h1>

        <table>
            <tr>
                <th>Issue</th>
                <th>Raised by</th>
                <th>Date Set</th>
                <th>Location</th>
                <th>Status</th>      
            </tr>



        </table>



	</body>


</html>
