<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Issues</title>
		<meta name="author" content="Fred Cook, Wiktor Majkowski">
        <link href="../defaultStyle.css" type="text/css" rel="stylesheet" />
        <link href="../issues.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
        <nav id = "navigation">
			<table>
				<tr> 
					<td id="logo"> L</td>
					<td id="button"><a href="/"> Home </a></td>
				 	<td id="button"><a href="/staff"> Staff </a></td>
					<td id="button"><a href="/contacts"> Contacts </a></td>
					<td id="button"><a href="/issues"> Issues </a></td>
					<a id="lr" href="/register">| Register</a> 
                    {{#if user}}
                        <a id="lr" href="/logout">Log out |</a>
                    {{else}}   
					    <a id="lr" href="/login">Login |</a>
                    {{/if}}
				</tr>
			</table>
		</nav>	

        {{issue}}
        <h1> Issue: {{this.issueType}} </h1>

        <!-- 
            The colums of the database are issueType, issueDesc,  raisedBy, dateSet, dateCompleted, location, status and votes

            access them by doing this {{issue.[what you need]}}
        -->

       
        <article>
            
        </article>    
	</body>


</html>
