
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Log In</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="login_reg.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<h1>Log In</h1>
		{{#if msg}}
 			<p class="msg">{{msg}}</p>
		{{/if}}
		<form action="/login" method="post">
			<p id="user">Username:<br /><input type="text" name="user" placeholder="Username" value="{{user}}" autofocus></p>
			<p>Password:<br /><input type="password" name="pass" placeholder="Password" value=""></p>
			<p><input type="submit" value="Log in"></p>
			<p>_______________________</p>
			<p class="log_reg_acc">Don't have an account? <a href="/register">Register</a></p>
		</form>
	</body>
</html>
