<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Create an Account</title>
        <meta name="description" content="form to register new users">
        <meta name="author" content="Mariana Leao">
        <link href="login_reg.css" type="text/css" rel="stylesheet"/>
         <link href="register.css" type="text/css" rel="stylesheet"/>
    </head>
    
  <body>
        <article class="split left">
          <section class="centered">
                <h1>Local</h1><h1 style = "color: #FFA74B">Community</h1>
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Coventry_City_Centre_from_One_Friargate_2019.jpg/1200px-Coventry_City_Centre_from_One_Friargate_2019.jpg" alt="Avatar man">
                <p><a href="/">Home</a></p>
          </section>  
        </article>

    <article class="split right">
        <section class="centered">
                <section class="autocomplete">
                    <form action="/register" enctype="multipart/form-data" method="post">
                        <h2>Create an Account</h2>
                        <p>Username [Email Address]<br /><input required="required" type="text" name="user" placeholder="your preferred username (no spaces)" value=""></p>
                        <p>Password<br /><input required="required" type="password" name="pass" placeholder="your chosen password" value=""></p>
                        <p>Address<br /><input type="text" name="address" placeholder="Street Address" value="" style="width: 250px"></p>
                        <td>Postcode<br /><input type="text"list="postcode" name="postcode" placeholder="Postcode" style="width: 250px" id="myInput" ></td>   
                  <datalist id = "postcode">
                    {{#each postcode}}
                      <option value = "{{this.postcode}}"> </option>
                    {{/each}}
                  </datalist>                
                        <p>Profile Picture<br /><input type="file" name="avatar"></p>
            <p>Staff registration password </p>
            <p><input type = "text" name = 'staffPassword' placeholder = 'Leave blank if regular user'> </p>
                        <input type="submit" value="Create"></p>
                        <p>__________________________</p>
                        <p class="log_reg_acc">Already registered? <a href="/login">Log In</a></p>
                    </form>
                </section>
        </section>
    </article>

</head>     
<body>



</html>