
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Contacts Page</title>
		<meta name="author" content="Wiktor Majkowski">
		<link href="defaultStyle.css" type="text/css" rel="stylesheet" />
		<link href="issues.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<nav id = "navigation">
			<table>
				<tr> 
					<td id="logo"> L</td>
					<td id="button"><a href="/"> Home </a></td>
				 	<td id="button"><a href="/staff"> Staff </a></td>
					<td id="button"><a href="/contacts"> Contacts </a></td>
					<td id="button"><a href="/issues"> Issues </a></td>
					<a id="lr" href="/register">| Register</a> <a id="lr" href="/login">Login |</a>
				</tr>
			</table>
			
			
		</nav>	
		<h1>Staff</h1>
		<article>
           	<p>Database with issues will appear here.</p>
		</article>
		<footer>
			<p><a href="/logout">log out</a></p>
		</footer>
</html>
