#th {
    font-size: 20px;
    padding:10px;
    border:1px black solid;
    color:white;
    background-color: rgba(24, 26, 54);
}

#td, #table {
    font-size: 15px;
    color: white;
    border:1px black solid;
    padding:10px;
    background-color: rgba(40, 43, 94, 0.9);
}

#tableSubmitted{
    width: 85%;
}

#SubmitNew{
    width: 85%;
}

#table1 {
    width: 100%;
    float: right;
    font-size: 15px;
    color: white;
    border:1px black solid;
    padding:10px;
    background-color: rgba(40, 43, 94, 0.3);
}

#row:hover{
    background-color: rgba(62, 67, 150, 0.5)
}

input[type="submit"]{
    background-color:gray;
    float: right;
    padding: 10px;
    border: solid black 1px;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color: lightgrey;
}
#filter{
    background-color: rgba(40, 43, 94, 0.9);
    float: right;
    margin: 0px 0% 0px;
    padding: 10px;
    border: solid black 1px;
    cursor: pointer;

}
#filter > input[type="text"]{
    float: right;
    width: 50%;
}
input[type="text"]{
    width:100%;

}
input[type="date"]{
    width:100%;
}

#map iframe, #map{
    height: 100%;
    width: 100%;
    color: black;
}