#th {
    font-size: 20px;
    padding:10px;
    border:1px black solid;
    color:white;
    background-color: rgba(24, 26, 54);
}

#td, #table {
    font-size: 15px;
    color: white;
    border:1px black solid;
    padding:10px;
    background-color: rgba(40, 43, 94, 0.3);
}
#table{
    width: 80%;
}

#table1 {
    float: right;
    font-size: 15px;
    color: white;
    border:1px black solid;
    padding:10px;
    background-color: rgba(40, 43, 94, 0.3);
}

#lol:hover{
    background-color: rgba(62, 67, 150, 0.5)
}

input[type="submit"]{
    background-color: transparent;
    float: right;
    padding: 10px;
    border: solid black 1px;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color: green;
}
#filter{
    background-color: transparent;
    float: right;
    padding: 10px;
    border: solid black 1px;
    cursor: pointer;
}
input[type="text"]{
    width:100%;

}
input[type="date"]{
    width:100%;
}

#map {
    height: 50%;
    width: 100%;
    color: black;
  }